<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895344261539-pdkk0mj66e468grfqbm0eh75ba9j6j7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895344261539-pdkk0mj66e468grfqbm0eh75ba9j6j7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCcqXIwZgnhkvbCU4kDZ9S9NzHfdVpaBsg</string>
	<key>GCM_SENDER_ID</key>
	<string>895344261539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clyrko.AyewamRestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>ayewam-restaurant-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ayewam-restaurant-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895344261539:ios:be83377dddc3d3ac95c216</string>
	<key>DATABASE_URL</key>
	<string>https://ayewam-restaurant-app.firebaseio.com</string>
</dict>
</plist>